@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@layer base {
  /* abril-fatface-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/abril-fatface-v19-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('/fonts/abril-fatface-v19-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  body {
    @apply text-base leading-7 font-sans antialiased;
  }

  .h0 {
    @apply text-6xl md:text-8xl font-serif;
  }
  h1, .h1 {
    @apply text-5xl md:text-6xl font-serif;
  }
  h2, .h2 {
    @apply text-4xl md:text-5xl font-serif;
  }
  h3, .h3 {
    @apply text-3xl md:text-4xl font-serif;
  }
  h4, .h4 {
    @apply text-2xl md:text-3xl font-serif;
  }
  .smallcaps {
    @apply text-sm font-sans uppercase tracking-widest;
  }
  .underlineEffect {
    @apply text-lg py-1.5 px-2 relative inline-block ease-in-out after:content-[''] after:absolute after:bottom-0 after:left-0 after:block after:h-0.5 after:w-full after:origin-bottom-left after:scale-x-0 after:bg-black after:transition-transform after:duration-200 after:ease-out after:hover:scale-x-100;
  }
}

